<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VideoBackgroundSample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>VideoBackgroundViewController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>83286D791C7C12670083CB19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83286D831C7C12670083CB19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83286D971C7C12AB0083CB19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83286DAA1C7C12AB0083CB19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
